<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="chincol.css" />
    <link rel="shortcut icon" href="PATA.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/component.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/organicfoodicons.css" />
    <title>WikiZooChile - El Chincol</title>
</head>
<body>
    <body>
        <div class="container">
            <header>
                <p>
                    <a href="Main.html"> volver a WikiZooChile</a>
                </p>
                <p>
                    <a href="Animal.html"> volver a Animales</a>
                </p>
                <p>
                    <h1>El Chincol</h1>
                </p>
            </header>
        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="FotoChincol1" src="img/Chincol3.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="FotoChincol2" src="img/chincol2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="FotoChincol3" src="img/Chincol.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
                <h1>Descripcion</h1>
                <p>Zonotrichia capensis es un ave paseriforme neotropical, la única de esta distribución entre los mal llamados gorriones americanos del género Zonotrichia. Es similar a la especie alóctona del gorrión doméstico (Passer domesticus), distinguiéndose por poseer un copete con rayas negras y una figura menos rotunda.
                    Mide entre 13 y 15 cm de largo, pesa entre 20 y 25 g. El pico es corto y recto, de unos 15 mm. Muestra la corona y la cara grises, con una banda negra. La garganta es blanca, con un visible collar en la nuca de color canela o castaño rojizo. El vientre y el pecho son pardo claro o blanquecinos, con reflejos más oscuros y los costados grisáceos. El dorso es también pardo, manchado de negro, con las alas y la cola de tono más oscuro. Los juveniles tienen plumaje más uniforme, con jaspeado más oscuro en el pecho.
                    Las patas están bien adaptadas a su hábito arborícola, con tres dedos orientados hacia delante y uno hacia atrás.</p>
            </p>
            <p>
                <h1>Hábitos</h1>
                <p>Es solitario, formando parejas en época de reproducción; más rara vez forma bandadas monoespecíficas o con otros paseriformes. Pasa mucho tiempo en árboles y arbustos, aunque baja a tierra a recoger su principal alimento, semillas y gusanos. Habita una gran variedad de entornos, desde praderas abiertas y estepas hasta bosques, plantaciones agrícolas y ambientes urbanos. Permanece activo hasta entrado el anochecer.

                    Entre primavera y comienzos del verano forman parejas. Construyen el nido, de forma semiesférica y un diámetro externo de hasta 13 cm, formado por paja en el exterior y cerdas, pelos y plumón por la cara interna. Suelen levantarlos en el suelo en zona de pastizales cerrados; más raramente lo construyen en arbustos o en ramas bajas. En zonas urbanas hacen su nido en matas cerradas o en trepadoras, como la enamorada del muro.
                    
                    
                    Un copetón alimenta a un tordo.
                    La hembra deposita en días corridos de dos a cinco huevos de forma ovoide, de color verde pálido o celeste, con manchas o anillos de color castaño, gris o lila, de unos 19 x 15 mm. La incubación demora entre once y trece días; tras la eclosión, los pichones permanecen en el nido entre diez y once días, mientras van cobrando un plumaje más oscuro que el que muestran al nacer.
                    
                    El copetón es presa del parásito de nido Molothrus bonariensis, el tordo renegrido o chamón, que expulsa algunos de sus huevos para depositar los propios, que son empollados y criados por el chincol.</p>
            </p>
            <p>
                <h1>Canto</h1>
                <p>El canto del copetón es exclusivo del macho; aunque en apariencia simple, formado por un tema de tres tiempos y un trino posterior, permite identificar la población de origen del macho. Si bien el tema es distinto en cada individuo, el trino es característico de un grupo de población, permitiendo a la hembra identificar la procedencia de su respectiva pareja. Se transmite de generación en generación; los pichones lo adquieren entre los 10 y 40 días de vida, escuchando el canto de los adultos de su grupo.</p>
            </p>
            <p>
                <h1>Destribucion</h1>
                <p>Esta especie se distribuye por toda América del Sur, incluyendo Tierra del Fuego e isla de los Estados, América Central, Aruba, Curazao y la isla La Española (República Dominicana y Haití).1​En la parte norte y oeste de su área de distribución, esta ave generalmente abundante se encuentra en altitudes de 600 a 4000 m, pero hacia el este y el sur, se encuentra en altitudes más bajas, casi al nivel del mar. Se puede ver en prácticamente cualquier hábitat abierto o semiabierto, incluidos cultivos, jardines, parques, pastizales y arbustos secundarios o el Cerrado.

                    Se adapta bien a los entornos urbanos y suburbanos, pero está ausente en las secciones densamente boscosas de la cuenca del Amazonas. También es escasa en el escudo guayanés y se encuentra principalmente en algunos tepuyes y la Sierra de Pacaraima. Para explicar la presencia de esta especie en la isla de La Española y su ausencia en el resto del Caribe, se puede hacer referencia a una teoría propuesta para el piquituerto de La Española, un ave simpátrica. En ese escenario, los antepasados de estas aves estuvieron presentes en toda la región con el clima más fresco del último período glacial, pero quedaron relegados a las montañas más altas de La Española (las más altas del Caribe) una vez que el clima se hizo más cálido.
                </p>
            </p>
        </section>     
</div>
<script src="template/MultiLevelMenu-master/js/classie.js"></script>
<script src="dummydata.js"></script>
<script src="template/MultiLevelMenu-master/js/main.js"></script>
<script>
    (function () {
        var menuEl = document.getElementById('ml-menu'),
            mlmenu = new MLMenu(menuEl, {
                // breadcrumbsCtrl : true, // show breadcrumbs
                // initialBreadcrumb : 'all', // initial breadcrumb text
                backCtrl: false, // show back button
                // itemsDelayInterval : 60, // delay between each menu item sliding animation
                onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
            });

        // mobile menu toggle
        var openMenuCtrl = document.querySelector('.action--open'),
            closeMenuCtrl = document.querySelector('.action--close');

        openMenuCtrl.addEventListener('click', openMenu);
        closeMenuCtrl.addEventListener('click', closeMenu);

        function openMenu() {
            classie.add(menuEl, 'menu--open');
            closeMenuCtrl.focus();
        }

        function closeMenu() {
            classie.remove(menuEl, 'menu--open');
            openMenuCtrl.focus();
        }

        // simulate grid content loading
        var gridWrapper = document.querySelector('.content');

        function loadDummyData(ev, itemName) {
            ev.preventDefault();

            closeMenu();
            gridWrapper.innerHTML = '';
            classie.add(gridWrapper, 'content--loading');
            setTimeout(function () {
                classie.remove(gridWrapper, 'content--loading');
                gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
            }, 700);
        }
    })();
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>