{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>WikiZoo</title>
        <meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
        <meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="{% static '../favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'template/PerspectivePageViewNavigation/css/component.css' %}"  />
        <link rel="stylesheet" type="text/css" href="{% static 'template/PerspectivePageViewNavigation/css/demo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'template/PerspectivePageViewNavigation/css/normalize.css' %}" />

    <script src="{% static 'template/PerspectivePageViewNavigation/js/modernizr.custom.25376.js' %}"></script>
    <title>wiki</title>
</head>
<body>
    <div id="perspective" class="perspective effect-airbnb">
        <div class="container">
            <div class="wrapper"><!-- wrapper needed for scroll -->
                <header class="codrops-header">
                    <h1>Wikipedia Animal<span> Informacion y Datos de los animales del mundo</span></h1>	
                </header>
                <div class="main clearfix">
                    <div class="column">
                        <p><button id="showMenu">Mostrar Menu</button></p>
                        <p>Haga clic en este botón para revelar la navegación u otros elementos.</p>
                    </div>
                    <div class="column">
                        <nav class="codrops-demos">
                            <p>Esta pagina es una wiki de animales hecha por alumnos que mostrara algunos animales que no conozcas y te dara la informacion de ellos que tu no cepas o no conozcas.</p>
                        </nav>
                    </div>
                </div><!-- /main -->
            </div><!-- wrapper -->
        </div><!-- /container -->
        <nav class="outer-nav left vertical">
				<a href="Animal">Animales</a>
				<a href="Informacion"> Info</a>
				
				
			</nav>
    </div>  
    <script src=" {% static 'template/PerspectivePageViewNavigation/js/classie.js' %}"></script>
    <script src="{% static 'template/PerspectivePageViewNavigation/js/menu.js' %}"></script>
</body>
</html>