<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="huemul.css" />
    <link rel="shortcut icon" href="PATA.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/component.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="template/MultiLevelMenu-master/css/organicfoodicons.css" />
    <title>WikiZooChile - Zorro Culpeo</title>
</head>

<body>
    <div class="container">
        <header>
            <p>
                <a href="Main.html"> volver a WikiZooChile</a>
            </p>
            <p>
                <a href="Animal.html"> volver a Animales</a>
            </p>
            <p>
            <h1>El Quique</h1>
            </p>
        </header>
        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="FotoQuique" src="img/quique2.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="FotoQuique2" src="img/quique3.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="FotoQuique3" src="img/quique4.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <p>
            <h1>Descripcion</h1>
            <p>El grisón menor (Galictis cuja), también llamado quique, hurón menor, hurón chileno o furão (dependiendo de la región y/o país donde se encuentre dicha especie), es una especie de mustélido de América del Sur. 
                Los grisones menores tienen un cuerpo largo y delgado, patas cortas y una cola tupida. Tienen un cuello largo y una cabeza pequeña con una frente aplanada y orejas redondeadas. Son más pequeños que el estrechamente relacionado grisón mayor, con una longitud cabeza-cuerpo de 27 a 52 cm (11 a 20 pulgadas) y una cola de 14 a 19 cm (5,5 a 7,5 pulgadas) de largo. Los adultos pesan entre 1,2 y 2,4 kg (2,6 a 5,3 libras). Las hembras son más pequeñas y delgadas que los machos.

                La parte superior de la cabeza, la espalda y los flancos, y la cola tienen pelos de protección negros gruesos con puntas de color beige sobre una capa interna más suave, lo que les da un color grisáceo entrecano. El resto del cuerpo es negro o casi negro, excepto por una raya de color beige pálido que va desde la frente hasta los hombros a lo largo del margen inferior del área de pelo gris. Los pies son palmeados, con cinco dedos que terminan en garras afiladas y curvas.  </p>
            </p>
            <p>
            <h1>Hábitat</h1>
            <p>Los grisones menores se encuentran en la mayor parte del sur de América del Sur desde el nivel del mar hasta una altura de 4.200 metros (13.800 pies). Se encuentran en una amplia gama de hábitats, aunque generalmente cerca del agua, incluidos pastizales, bosques, matorrales y prados de montaña. También se sabe que habitan en tierras agrícolas y pastos en algunas áreas.

                Se reconocen cuatro subespecies:
                
                    Galictis cuja cuja – suroeste de Bolivia, oeste de Argentina, centro de Chile
                    Galictis cuja furax – sur de Brasil, noreste de Argentina, Uruguay y Paraguay
                    Galictis cuja huronax – centro-sur de Bolivia, este de Argentina
                    Galictis cuja luteola – extremo sur de Perú, occidente de Bolivia y norte de Chile </p>
            </p>
            <p>
            <h1>Alimentación</h1>
            <p>La dieta del grisón menor consta de pequeños mamíferos, aves, huevos, vertebrados de sangre fría, e invertebrados, así como la fruta. El contenido del estómago de un espécimen recogido en el Perú incluía ratones y un lagarto. Entre los pequeños mamíferos consumidos por el grisón menor se encuentran La rata chinchilla de Bennett, el ratón de pelo largo, el cuis y Phyllotis darwini. Las aves y sus huevos consumidos fueron Zampullin blanquillo (Podiceps occipitalis), zampullin pimpollo (Rollandia rolland) y el gaviotín sudamericano (Sterna hirundinacea). Y entre los anfibios y reptiles encontrados fueron la rana chaqueña, la serpiente de cola larga y el lagarto chillón. 
            </p>
            <p>
                <h1>Relaciones con los humanos</h1>
                <p>Los grisones menores se pueden domesticar si se crían desde una edad temprana. Fueron utilizados en el pasado para cazar chinchillas salvajes, persiguiéndolas por madrigueras de manera similar a los hurones, aunque las chinchillas ahora son demasiado raras para que esto sea viable. A veces todavía se mantienen para controlar roedores en granjas, aunque también pueden ser cazados, especialmente donde se cree que se alimentan de aves de corral domésticas. También se ha informado que se encuentran entre las especies más frecuentes entre los mamíferos atropellados en Brasil.

                    Los grisones menores pueden actuar como reservorios de la enfermedad de Chagas.
                    
                    Los cuerpos de los grisones menores también se han utilizado como amuletos mágicos en Bolivia, donde sus pieles se rellenan con lana y se decoran con cintas y papel para ser utilizados en ofrendas rituales a la Pachamama. Un entierro de sacrificio aparente de Argentina se ha fechado en 1.420 AP. Fue enterrado junto con restos humanos, con un collar decorado, colocado sobre una piel de animal y asociado con numerosos otros bienes funerarios y cuerpos de ratones. </p>
                </p>
            </p>
        </section>
    </div>
    <script src="template/MultiLevelMenu-master/js/classie.js"></script>
    <script src="dummydata.js"></script>
    <script src="template/MultiLevelMenu-master/js/main.js"></script>
    <script>
        (function () {
            var menuEl = document.getElementById('ml-menu'),
                mlmenu = new MLMenu(menuEl, {
                    // breadcrumbsCtrl : true, // show breadcrumbs
                    // initialBreadcrumb : 'all', // initial breadcrumb text
                    backCtrl: false, // show back button
                    // itemsDelayInterval : 60, // delay between each menu item sliding animation
                    onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
                });

            // mobile menu toggle
            var openMenuCtrl = document.querySelector('.action--open'),
                closeMenuCtrl = document.querySelector('.action--close');

            openMenuCtrl.addEventListener('click', openMenu);
            closeMenuCtrl.addEventListener('click', closeMenu);

            function openMenu() {
                classie.add(menuEl, 'menu--open');
                closeMenuCtrl.focus();
            }

            function closeMenu() {
                classie.remove(menuEl, 'menu--open');
                openMenuCtrl.focus();
            }

            // simulate grid content loading
            var gridWrapper = document.querySelector('.content');

            function loadDummyData(ev, itemName) {
                ev.preventDefault();

                closeMenu();
                gridWrapper.innerHTML = '';
                classie.add(gridWrapper, 'content--loading');
                setTimeout(function () {
                    classie.remove(gridWrapper, 'content--loading');
                    gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
                }, 700);
            }
        })();
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>